@import url("../theme.css");

.code.literal {
    color:darkslategray;
}

pre {
    border: none;
    background-color:#eeeeee;
}

.highlight {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:#eeeeee;
}

div.figure a.image-reference {
    border: none;
}



.dothis    {
    border-left: 5px solid #dadada;
    padding: 0px 0px 0px 8px;
    margin-top:20px;
    margin-bottom:20px;
    line-height: inherit;
    font: inherit;
}

.dothis > .guilabel {
    color: rgb(30, 46, 0);
}

.nb {
    border-left: 1px solid sandybrown;
    border-right: none;
    border-top: none;
    border-bottom: none;
    color: saddlebrown;
    background-color: rgb(255, 253, 247);
    padding: 5px 0px 0px 10px;
}

.terminal {
    border: none;
    color: white;
    background-color:#777777;
    padding: 5px 0px 0px 10px;
    font-family: 'Consolas', 'Deja Vu Sans Mono','Bitstream Vera Sans Mono', monospace;
    font-size: 0.85em;
}
